/* form */
form {
    margin: 0;
    padding: 0;
}
.input-wrapper {
    position: relative;
}
input {
    display: block;
    float: left;
    font-family: "AvenirNextLTW01-Medium", Helvetica, Arial;
    font-size: 1em;
}
input[type="text"] {
    border: none;
    border-bottom: 1px solid $gray-20;
    color: $black;
    margin-right: 10px;
    padding: 4px 6px 3px 6px;
    width: 30%;
}
input[type="submit"] {
    font-size: .75em;
    margin: 1px 0 0 1px;
    padding: 6px;
}
label {
    font-family: "AvenirNextLTW01-Regular", Helvetica, Arial;
    font-size: .7em;
    display: block;
    margin-top: 5px;
}
