/* header */
.header {
    border-bottom: 1px solid $gray-20;
    margin: 20px 0 0;
    h1 {
        font-family: "AvenirNextLTW01-Demi", Helvetica, Arial;
        margin: 0;
    }
    .logo {
        float: right;
    }
}