/* layout */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
    position: relative;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.container {
    margin: 0 auto;
    width: 100%;
}

.row {
    *zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

[class*="col-"] {
    float: left;
    margin: 0 $gutter;
    min-height: 1px;
    position: relative;
}

@for $i from 1 to $columns+1 {
    .col-#{$i} {
        width: (($i / $columns) * 100%) - ($gutter * 2);
    }
}