#map {
    background-color: $gray-50;
    height: 100%;
    position: absolute;
    right: 0;
    width: 100%;
}

.marker {
    background-color: $white;
    border-radius: 50%;
    box-shadow:
        0 0 0 3px $black,
        0 0 0 6px rgba(0, 0, 0, .3);
    height: 5px;
    width: 5px;
}
.marker-hover {
    @extend .marker;
    box-shadow:
        0 0 0 3px $gold,
        0 0 0 6px rgba(0, 0, 0, .3);

    animation: toggle-shadow-hover 1.5s infinite;
    -webkit-animation: toggle-shadow-hover 1.5s infinite;
}
.marker-active {
    @extend .marker;
    box-shadow:
        0 0 0 3px $green,
        0 0 0 6px rgba(0, 0, 0, .3);

    animation: toggle-shadow-active 1.5s infinite;
    -webkit-animation: toggle-shadow-active 1.5s infinite;
}

@keyframes toggle-shadow-hover {
    0% {
        box-shadow:
            0 0 0 0 $gold,
            0 0 0 0 rgba(0, 0, 0, .1);
    }
    15% {
        box-shadow:
            0 0 0 1px $gold,
            0 0 0 4px rgba(0, 0, 0, .2);
    }
    30% {
        box-shadow:
            0 0 0 2px $gold,
            0 0 0 8px rgba(0, 0, 0, .3);
    }
    45% {
        box-shadow:
            0 0 0 3px $gold,
            0 0 0 12px rgba(0, 0, 0, .2);
    }
    60% {
        box-shadow:
            0 0 0 3px $gold,
            0 0 0 14px rgba(0, 0, 0, .1);
    }
    75%, 100% {
        box-shadow:
            0 0 0 3px $gold,
            0 0 0 16px rgba(0, 0, 0, 0);
    }
}
@-webkit-keyframes toggle-shadow-hover {
    0% {
        box-shadow:
            0 0 0 0 $gold,
            0 0 0 0 rgba(0, 0, 0, .1);
    }
    15% {
        box-shadow:
            0 0 0 1px $gold,
            0 0 0 4px rgba(0, 0, 0, .2);
    }
    30% {
        box-shadow:
            0 0 0 2px $gold,
            0 0 0 8px rgba(0, 0, 0, .3);
    }
    45% {
        box-shadow:
            0 0 0 3px $gold,
            0 0 0 12px rgba(0, 0, 0, .2);
    }
    60% {
        box-shadow:
            0 0 0 3px $gold,
            0 0 0 14px rgba(0, 0, 0, .1);
    }
    75%, 100% {
        box-shadow:
            0 0 0 3px $gold,
            0 0 0 16px rgba(0, 0, 0, 0);
    }
}

@keyframes toggle-shadow-active {
    0% {
        box-shadow:
            0 0 0 0 $green,
            0 0 0 0 rgba(0, 0, 0, .1);
    }
    15% {
        box-shadow:
            0 0 0 1px $green,
            0 0 0 4px rgba(0, 0, 0, .2);
    }
    30% {
        box-shadow:
            0 0 0 2px $green,
            0 0 0 8px rgba(0, 0, 0, .3);
    }
    45% {
        box-shadow:
            0 0 0 3px $green,
            0 0 0 12px rgba(0, 0, 0, .2);
    }
    60% {
        box-shadow:
            0 0 0 3px $green,
            0 0 0 14px rgba(0, 0, 0, .1);
    }
    75%, 100% {
        box-shadow:
            0 0 0 3px $green,
            0 0 0 16px rgba(0, 0, 0, 0);
    }
}
@-webkit-keyframes toggle-shadow-active {
    0% {
        box-shadow:
            0 0 0 0 $green,
            0 0 0 0 rgba(0, 0, 0, .1);
    }
    15% {
        box-shadow:
            0 0 0 1px $green,
            0 0 0 4px rgba(0, 0, 0, .2);
    }
    30% {
        box-shadow:
            0 0 0 2px $green,
            0 0 0 8px rgba(0, 0, 0, .3);
    }
    45% {
        box-shadow:
            0 0 0 3px $green,
            0 0 0 12px rgba(0, 0, 0, .2);
    }
    60% {
        box-shadow:
            0 0 0 3px $green,
            0 0 0 14px rgba(0, 0, 0, .1);
    }
    75%, 100% {
        box-shadow:
            0 0 0 3px $green,
            0 0 0 16px rgba(0, 0, 0, 0);
    }
}