.panel {
    background: $white;
    border-radius: 2px;
    position: absolute;
    left: 20px;
    top: 20px;
    width: 400px;
    z-index: 1000;
}

.help {
    padding-top: 10px;

    a {
        display: inline-block;
        font-size: .75em;
        &.show-hide-data {
            display: none;
            float: right;
        }
    }
}

.data-wrapper {
    display: none;
}

#downloads {
    font-size: .75em;
    padding: 10px;
    text-align: center;

    a {
        font-size: 1em;
    }
}

#data {
    border-radius: 2px;
    padding: 0 20px;
    /*overflow-y: scroll;*/
    max-width: 500px;
}

.result {
    border-top: 1px solid $gray-20;
    padding: 20px 0;
    position: relative;
    &:last-child {
        border-bottom: none;
    }
    p, h5 {
        margin: 0;
    }
    p {
       font-size: .75em;
    }
    .geo-data {
        
    }
    h5 {
        color: $green;
        font-family: "AvenirNextLTW01-Demi", Helvetica, Arial;
        font-size: .85em;
        font-weight: normal;
        margin-bottom: 0;
    }
    h6 {
        color: $gray-50;
        font-family: "AvenirNextLTW01-Regular", Helvetica, Arial;
        font-weight: normal;
        line-height: 1;
        margin: 0;
        padding: 0 0 3px;
        text-transform: capitalize;
        & span {
            text-transform: uppercase;
        }
    }
}

.geo-symbol {
    background-color: $gray-50;
    border-radius: 50%;
    display: inline-block;
    height: 5px;
    margin-bottom: 4px;
    width: 5px;
}
.active .geo-symbol,
.active .lat-long:hover + .geo-symbol {
    animation: blink-active 1.5s infinite;
    -webkit-animation: blink-active 1.5s infinite;
}
.lat-long:hover + .geo-symbol {
        animation: blink-hover 1.5s infinite;
        -webkit-animation: blink-hover 1.5s infinite;
    }

@keyframes blink-hover {
    0% {
        background-color: rgba(255, 158, 27, 0);
    }
    100% {
        background-color: rgba(255, 158, 27, 1);
    }
}
@-webkit-keyframes blink-hover {
    0% {
        background-color: rgba(255, 158, 27, 0);
    }
    100% {
        background-color: rgba(255, 158, 27, 1);
    }
}

@keyframes blink-active {
    0% {
        background-color: rgba(44, 179, 74, 0);
    }
    100% {
        background-color: rgba(44, 179, 74, 1);
    }
}
@-webkit-keyframes blink-active {
    0% {
        background-color: rgba(44, 179, 74, 0);
    }
    100% {
        background-color: rgba(44, 179, 74, 1);
    }
}

.line {
    background-color: $gray-50;
    border-radius: 3px;
    display: inline-block;
    height: 3px;
    margin-bottom: 5px;
    margin-right: 2px;
    width: 10px;
}

.placename {
    margin-bottom: 5px;
}
.type, .relevance {
    color: $gray-50;
    float: left;
    width: 50%;
    a {
        margin: 0;
    }
}
.good {
    color: $green;
}
.ok {
    color: $gold;
}
.bad {
    color: $redorange;
}
.relevance {
    text-align: right;
}

#count {
    background: $gray-5;
    border-top: 1px solid $gray-20;
    bottom: 0;
    font-family: "AvenirNextLTW01-Demi", Helvetica, Arial;
    font-size: .65em;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
}