# Editors #
#################
*.swp

# Python #
#################
*.pyc
*.egg-info/
__pycache__/
*.py[cod]

# Django #
#################
*.egg-info
.installed.cfg

# Unit test / coverage reports
#################
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Front-End #
#############
node_modules/
bower_components/
.grunt/
.sass-cache

# System #
##########
.DS_Store