<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                
            </div>
        </div>
    </div>
</footer>
<script src='{{ site.baseurl }}/src/js/jquery-2.1.3.min.js'></script>
<script>
$(function() {
    var geocoder;
    var markerIcon = L.divIcon({
      className: 'marker',
      iconSize: [10, 10]
    });

    function showLocation(location) {
        console.log (location.features[0].properties.query);
        console.log (location.features[0].properties.attribution);
        // create marker
        var marker = L.marker([location.features[0].center[1], location.features[0].center[0]], {icon: markerIcon});
        // add marker to featureGroup
        markerGroup.addLayer(marker);
        // fit the map
        map.fitBounds(markerGroup.getBounds());

        // setup up query string for output
        // this accounts for town/city names having spaces
        // last piece is the state abbr (in the <span>)
        var queryName = '';
        $.each(location.query, function (i, namePart) {
            if (i === location.query.length - 1) {
                queryName = queryName + ', <span>' + namePart + '</span>';
            } else {
                queryName = queryName + namePart + ' ';
            }
        });
        
        // append data
        $('#data').append('<div class="result group">'
            +'<p class="query">' + queryName + '</p>'
            + '<h5>' + location.features[0].center[1] + ', ' + location.features[0].center[0] + '</h5>'
            + '<p class="placename">' + location.features[0].place_name + '</p>'
            + '<p class="relevance">Score: ' + location.features[0].relevance + '</p>'
            + '<p class="source">' + location.attribution + '</p>'
            + '</div>');
    }

    function renderResults(err, data) {
        // single address
        if (data.results.length === undefined) {

            showLocation(data.results);
        // batch
        } else {
            $.each(data.results, function(i, result) {
                // set 
                var queryName = '';
                $.each(result.query, function (i, namePart) {
                    if (i === result.query.length - 1) {
                        queryName = queryName + ', <span>' + namePart + '</span>';
                    } else {
                        queryName = queryName + namePart + ' ';
                    }
                });
                $.each(result.features, function(j, feature) {
                    feature.properties.query = queryName;
                    feature.properties.attribution = result.attribution;
                });
                
                showLocation(result);
            });
            // show the count
            $('#count').append('Showing ' + data.results.length + ' results');
        }

        // show data
        $('#downloads').css('display', 'block');
        $('#data').css('display', 'block');
        $('#count').css('display', 'block');
        $('.show-hide-data').css('display', 'block');
    }

    function setupGeoCoder() {
        // clear featureGroup
        markerGroup.clearLayers();
        // clear previous results
        $('#downloads').css('display', 'none');
        $('#data').css('display', 'none');
        $('#count').css('display', 'none');
        $('#data').html('');
        $('#count').html('');
        $('.show-hide-data').text('Hide Data');

        // if there is no ;
        // single address
        if ($('#address').val().indexOf(';') === -1) {
            var geocoder = L.mapbox.geocoder('mapbox.places');
            geocoder.query($('#address').val(), renderResults);
        // else batch
        } else {
            var geocoder = L.mapbox.geocoder('mapbox.places-permanent');
            geocoder.query($('#address').val() , renderResults);
        }
    }

    // set map size
    $('#map').height(($(document).height() - $('header').height() - 40) + 'px');

    // load base and settings
    L.mapbox.accessToken = 'pk.eyJ1IjoiY2ZwYiIsImEiOiJodmtiSk5zIn0.VkCynzmVYcLBxbyHzlvaQw';
    var map = L.mapbox.map('map', 'cfpb.k55b27gd', { zoomControl: false })
        .setView([39.8282, -98.5795], 4);
    new L.Control.Zoom({ position: 'bottomright' }).addTo(map);
    map.scrollWheelZoom.disable();

    // featureGroup for markers
    var markerGroup = L.featureGroup().addTo(map);

    // on submit
    $('#geocode').submit(function(event) {
        setupGeoCoder();
        return false;
    });

    // on enter
    $('#address').keypress(function(e) {
        if (e.which == 13) {
            setupGeoCoder();
            return false;
        }
    });

    // file
    $('#batch').click(function() {
        var geocoder = L.mapbox.geocoder('mapbox.places-permanent');
        geocoder.query('cumberland, md; hagerstown, md; chambersburg, pa' , showBatch);
        return false;
    });

     $('.show-hide-data').click(function() {
        $('#data, #downloads').toggle( "slow", function() {
            if ($('#data').css('display') === 'none') {
                $('.show-hide-data').text('Show Data');
            } else {
                $('.show-hide-data').text('Hide Data');
            }
        });
    });
});
</script>

</body>
</html>
