<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                
            </div>
        </div>
    </div>
</footer>
<script src='{{ site.baseurl }}/js/jquery-2.1.3.min.js'></script>
<script>


$(function() {
    var markers;

    $('#map').height(($(document).height() - $('header').height() - 40) + 'px');

    L.mapbox.accessToken = 'pk.eyJ1IjoiY2ZwYiIsImEiOiJodmtiSk5zIn0.VkCynzmVYcLBxbyHzlvaQw';
    var map = L.mapbox.map('map', 'cfpb.k55b27gd', { zoomControl: false })
        .setView([39.8282, -98.5795], 4);
    new L.Control.Zoom({ position: 'bottomright' }).addTo(map);
    map.scrollWheelZoom.disable();

    var geocoder = L.mapbox.geocoder('mapbox.places');

    function showMap(err, data) {
        $('#table').css('display', 'none');
        $('#data').html('');
        console.log('lat ' + data.latlng[0]);
        console.log('long ' + data.latlng[1]);
        map.setView([data.latlng[0], data.latlng[1]], 9);
        map.eachLayer(function(layer) {
            if (layer instanceof L.Marker || layer instanceof L.Polyline) {
                map.removeLayer(layer);
            }
        });
        markers = L.geoJson(data.results.features[0]).addTo(map);
        
        $('#data').css('display', 'block').append('<h4>' + [data.latlng[0], data.latlng[1]] + '</h4>'
            + '<h5>' + data.results.features[0].place_name + '</h5>');
    }

    $('#geocode').submit(function(event) {
        geocoder.query($('#address').val(), showMap);
        return false;
    });

    $('#address').keypress(function (e) {
        if (e.which == 13) {
            geocoder.query($('#address').val(), showMap);
            return false;
        }
    });


    function testFunc(err, data) {
        //console.log(data.results);
        map.setView([data.results[0].features[0].center[1], data.results[0].features[0].center[0]], 8);
        map.eachLayer(function(layer) {
            if (layer instanceof L.Marker || layer instanceof L.Polyline) {
                map.removeLayer(layer);
            }
        });
        $.each(data.results, function(i, result) {

            console.log(i);
            console.log(result.type);
            console.log('lat ' + result.features[0].center[1]);
            console.log('long ' + result.features[0].center[0]);
            
            markers = L.geoJson(result.features).addTo(map);

            $('#table').css('display', 'block');
            $('#table tbody').append('<tr><td>'
                + result.query[0] + ', ' + result.query[1] + '</td>'
                + '<td>' + result.features[0].center[1] + '</td>'
                + '<td>' + result.features[0].center[0] + '</td>'
                + '<td>' + result.features[0].place_name + '</td>'
                + '<td>' + result.attribution + '</td>'
                + '<td>' + result.features[0].relevance + '</td></tr>');
            /*$.each(result.features, function(j, feature) {
                console.log(feature.text);
                console.log(feature.center[0]);
                console.log(feature.center[1]);
                //markers = L.geoJson(feature.center).addTo(map);
            });*/
        });
        //$('#map').height(($(document).height() - $('header').height() - 40 - $('#table').height() - 40) + 'px');
    }

    // batch
    $('#batch').click(function() {
        $('#data').css('display', 'none')
        $('#table tbody').html('');
        //console.log('batch');
        var geocoder = L.mapbox.geocoder('mapbox.places-permanent');
        geocoder.query('cumberland, md; hagerstown, md; chambersburg, pa' , testFunc);
        return false;
    });
});
</script>

</body>
</html>