<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                
            </div>
        </div>
    </div>
</footer>
<script src='{{ site.baseurl }}/andrew/js/jquery-2.1.3.min.js'></script>
<script>


$(function() {
    var markers;
    var geocoder;

    // set map size
    $('#map').height(($(document).height() - $('header').height() - 40) + 'px');

    // load base
    L.mapbox.accessToken = 'pk.eyJ1IjoiY2ZwYiIsImEiOiJodmtiSk5zIn0.VkCynzmVYcLBxbyHzlvaQw';
    var map = L.mapbox.map('map', 'cfpb.k55b27gd', { zoomControl: false })
        .setView([39.8282, -98.5795], 4);
    new L.Control.Zoom({ position: 'bottomright' }).addTo(map);
    map.scrollWheelZoom.disable();

    // show a single address
    function showSingle(err, data) {
        //console.log('lat ' + data.latlng[0]);
        //console.log('long ' + data.latlng[1]);
        var markerIcon = L.divIcon({
          className: 'marker',
          iconSize: [8, 8]
        });

        // clear existing layers
        map.eachLayer(function(layer) {
            if (layer instanceof L.Marker || layer instanceof L.Polyline) {
                map.removeLayer(layer);
            }
        });
        // set map
        map.setView([data.latlng[0], data.latlng[1]], 9);
        // add new marker
        L.marker([data.latlng[0], data.latlng[1]], { icon: markerIcon})
            .addTo(map);
        //markers = L.geoJson(data.results.features[0], {icon: markerIcon}).addTo(map);
        
        // display data
        $('#data').css('display', 'block')
            .append('<p class="query">' + data.results.query[0] + ', ' + data.results.query[1] + '</p>'
                + '<h5>' + [data.latlng[0], data.latlng[1]] + '</h5>'
                + '<p>' + data.results.features[0].place_name + '</p>');

        // reset map height (may have changed on batch)
        //$('#map').height(($(document).height() - $('header').height() - 40) + 'px');
    }

    function setupGeoCoder() {
        // clear previous results
        // table (batch)
        //$('.table-wrapper').css('display', 'none');
        //$('#table tbody').html('');

        // data (single)
        //$('#data').css('display', 'none')
        $('#data').html('');
        $('#downloads').css('display', 'block');
        // single address
        if ($('#address').val().indexOf(';') === -1) {
            var geocoder = L.mapbox.geocoder('mapbox.places');
            geocoder.query($('#address').val(), showSingle);
        // batch
        } else {
            var geocoder = L.mapbox.geocoder('mapbox.places-permanent');
            geocoder.query($('#address').val() , showBatch);
        }
    }

    // on submit
    $('#geocode').submit(function(event) {
        setupGeoCoder();
        return false;
    });

    // on enter
    $('#address').keypress(function(e) {
        if (e.which == 13) {
            setupGeoCoder();
            return false;
        }
    });


    function showBatch(err, data) {
        // Define an icon called cssIcon
        var markerIcon = L.divIcon({
          className: 'marker',
          iconSize: [8, 8]
        });
        map.setView([data.results[0].features[0].center[1], data.results[0].features[0].center[0]], 8);
        map.eachLayer(function(layer) {
            if (layer instanceof L.Marker || layer instanceof L.Polyline) {
                map.removeLayer(layer);
            }
        });

        $('#data').css('display', 'block');
        $.each(data.results, function(i, result) {
            //markers = L.geoJson(result.features, {icon: markerIcon}).addTo(map);
            L.marker([result.features[0].center[1], result.features[0].center[0]], { icon: markerIcon})
            .addTo(map);
            $('#data').append('<div class="result">'
                + '<p class="query">' + result.query[0] + ', ' + result.query[1] + '</p>'
                + '<h5>' + result.features[0].center[1] + ', ' + result.features[0].center[0] + '</h5>'
                + '<p>' + result.features[0].place_name + '</p></div>');
            /*$('.table-wrapper').css('display', 'table');
            $('#table tbody').append('<tr><td>'
                + result.query[0] + ', ' + result.query[1] + '</td>'
                + '<td>' + result.features[0].center[1] + '</td>'
                + '<td>' + result.features[0].center[0] + '</td>'
                + '<td>' + result.features[0].place_name + '</td>'
                + '<td>' + result.attribution + '</td>'
                + '<td>' + result.features[0].relevance + '</td></tr>');*/
        });
        //$('#map').height(($(document).height() - $('header').height() - 40 - $('#table').height() - 40) + 'px');
    }

    // batch
    $('#batch').click(function() {
        var geocoder = L.mapbox.geocoder('mapbox.places-permanent');
        geocoder.query('cumberland, md; hagerstown, md; chambersburg, pa' , showBatch);
        return false;
    });
});
</script>

</body>
</html>