body{
  font-family: Helvetica;
}

#queryForm{
  position: absolute;
  z-index: 2;

  color: #434355;

  transition : all 1s;
  transform: translateZ(0);
}

.initialForm{
  width: 40%;
  height: 2em;
  font-size: 2em;

  top: 200px;
  left: 30%;
}

.mapForm{

}

#inp{
  height:inherit;
  font-size:inherit;
  padding: 0 5px;
}

#map{
  width: 75%;

  position: absolute;
  top: 50px;
  bottom: 0; 
  left: 0;

  opacity:0;
  transition: opacity 1s;
}
