/* map */
#map {
    background-color: $gray-50;
    height: 100%;
    position: absolute;
    width: 100%;
}

#data {
    display: none;
    margin-top: 20px;
    max-width: 500px;
    .result {
        border-top: 1px solid $gray-20;
        padding: 10px 0;
    }
    p, h5 {
        margin: 0;
    }
    p {
       font-size: .75em;
    }
    p.query {
        color: $gray-50;
    }
    h5 {
        font-family: "AvenirNextLTW01-Demi", Helvetica, Arial;
        font-weight: normal;
        margin-bottom: 0;
    }
}

.table-wrapper {
    border-top: 3px solid $green;
    bottom: 0;
    display: none;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1001;
}
#table {
    background-color: $white;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: .75em;
    width: 100%;

    & > tbody > tr > td,
    & > tbody > tr > th,
    & > tfoot > tr > td,
    & > tfoot > tr > th {
      border-top: 1px solid #ddd;
      line-height: 1.42857;
      padding: 8px;
      vertical-align: top;
    }
    & > thead > tr > th {
        border-bottom: 2px solid $gray-50;
        padding: 8px;
        text-align: left;
    }
    & > thead > tr > th,
    & > thead > tr > td,
    & > tbody > tr > th,
    & > tbody > tr > td,
    & > tfoot > tr > th,
    & > tfoot > tr > td {
        //border-bottom: 2px solid $gray-50;
    }
}

.marker {
    background-color: $green;
    //border: 3px solid $black;
    border-radius: 50%;
    box-shadow:
        0 0 0 5px rgba(0, 0, 0, .5),
        0 0 0 10px rgba(0, 0, 0, .1);
    height: 8px;
    width: 8px;
}