/* map */
#map {
    background-color: $gray-50;
    height: 100%;
    position: absolute;
    width: 100%;
}

#downloads {
    display: none;
    font-size: .75em;
    margin: 10px 0;
    a {
        font-size: 1em;
    }
}

#data {
    display: none;
    max-height: 425px;
    margin-top: 20px;
    overflow-y: scroll;
    max-width: 500px;

    .result {
        border-top: 1px solid $gray-20;
        padding: 10px 0;
        &:last-child {
            padding-bottom: 0;
        }
    }
    p, h5 {
        margin: 0;
    }
    p {
       font-size: .75em;
    }
    p.query {
        color: $gray-80;
        text-transform: capitalize;
        span {
            text-transform: uppercase;
        }
    }
    h5 {
        color: $green;
        font-family: "AvenirNextLTW01-Demi", Helvetica, Arial;
        font-weight: normal;
        margin-bottom: 0;
    }
    .placename {
        margin-bottom: 5px;
    }
    .source, .relevance {
        color: $gray-50;
        float: left;
        width: 50%;
        a {
            margin: 0;
        }
    }
    .source {
        text-align: right;
    }
}

#count {
    font-family: "AvenirNextLTW01-Demi", Helvetica, Arial;
    font-size: .65em;
    margin-top: 20px;
    text-align: right;
}

.table-wrapper {
    border-top: 3px solid $green;
    bottom: 0;
    display: none;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1001;
}
#table {
    background-color: $white;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: .75em;
    width: 100%;

    & > tbody > tr > td,
    & > tbody > tr > th,
    & > tfoot > tr > td,
    & > tfoot > tr > th {
      border-top: 1px solid #ddd;
      line-height: 1.42857;
      padding: 8px;
      vertical-align: top;
    }
    & > thead > tr > th {
        border-bottom: 2px solid $gray-50;
        padding: 8px;
        text-align: left;
    }
    & > thead > tr > th,
    & > thead > tr > td,
    & > tbody > tr > th,
    & > tbody > tr > td,
    & > tfoot > tr > th,
    & > tfoot > tr > td {
        //border-bottom: 2px solid $gray-50;
    }
}

.marker {
    background-color: $white;
    border-radius: 50%;
    box-shadow:
        0 0 0 3px $green,
        0 0 0 6px rgba(0, 0, 0, .2);
    height: 10px;
    width: 10px;

    transition: all 1s;
    &:hover {
        background-color: $green;
        box-shadow:
            0 0 0 0 $green,
            0 0 0 0 rgba(0, 0, 0, .2);
    }
}