/* banner */
.banner {
    background-color: $gray-10;
    margin-bottom: 25px;
    padding: 100px 0;
    text-align: center;
    label {
        font-family: "AvenirNextLTW01-Demi", Helvetica, Arial;
        font-size: 3em;
        display: block;
    }
    input {
        border-radius: 3px;
        display: block;
        font-size: 2em;
        margin: 0 auto 20px;
        width: 300px;
    }
    .btn {
        font-family: "AvenirNextLTW01-Medium", Helvetica, Arial;
        font-size: 1.5em;
        padding-left: 12px;
        padding-right: 12px;
    }
    a:link {
        border: 1px dotted $pacific-50;
        border-radius: 3px;
        display: inline-block;
        color: $pacific-50;
        font-size: .85em;
        padding: 20px;
        text-decoration: none;
    }
}