/* buttons */
.btn {
    background-color: $pacific;
    border: none;
    border-radius: 2px;
    color: $white;
    min-width: 75px;
    padding: 3px 5px;
    &:hover {
        background-color: $pacific-80;
    }
}