/* form */
form {
    margin: 0;
}
input[type="text"] {
    border: 1px solid $gray-20;
    border-radius: 2px;
    padding: 3px 5px;
    width: 100%;
}
button {
    display: block;
    margin: 0 auto 30px;
}

.input-wrapper {
    position: relative;
    input[type="submit"] {
        position: absolute;
        top: 0;
        right: 0;
    }
}
.panel {
    background-color: $white;
    box-shadow: 0 1px 1px $gray-50; 
    border-radius: 2px;
    padding: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
    width: 400px;
    z-index: 1000;
    label {
        font-family: "AvenirNextLTW01-Demi", Helvetica, Arial;
        font-size: 1em;
        display: block;
    }
    input {
        border-radius: 2px;
        display: block;
        float: left;
        font-family: "AvenirNextLTW01-Medium", Helvetica, Arial;
        font-size: 1em;
        &[type='submit'] {
            font-size: .75em;
            margin: 1px 0 0 1px;
            padding: 6px;
        }
    }
    a:link {
        border-bottom: 1px dotted $pacific-50;
        display: inline-block;
        color: $pacific-50;
        font-size: .75em;
        margin-top: 10px;
        text-decoration: none;
    }
}