/* map */
#map {
    background-color: $gray-50;
    height: 100%;
    position: absolute;
    width: 100%;
}

#data {
    background: $gray-10;
    display: none;
    margin-top: 20px;
    padding: 20px;
    max-width: 500px;
    h4, h5 {
        margin: 0;
    }
    h4 {
        margin-bottom: 5px;
    }
    h5 {
        font-weight: normal;
    }
}

#table {
    background-color: $white;
    border-collapse: collapse;
    border-spacing: 0;
    bottom: 0;
    display: none;
    font-size: .75em;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1001;

    & > tbody > tr > td,
    & > tbody > tr > th,
    & > tfoot > tr > td,
    & > tfoot > tr > th {
      border-top: 1px solid #ddd;
      line-height: 1.42857;
      padding: 8px;
      vertical-align: top;
    }
    & > thead > tr > th {
        border-bottom: 2px solid $gray-50;
        padding: 8px;
        text-align: left;
    }
    & > thead > tr > th,
    & > thead > tr > td,
    & > tbody > tr > th,
    & > tbody > tr > td,
    & > tfoot > tr > th,
    & > tfoot > tr > td {
        //border-bottom: 2px solid $gray-50;
    }
}