/* map */
#map {
    background-color: $gray-50;
    height: 100%;
    position: absolute;
    width: 100%;
}

.marker {
    background-color: $white;
    border-radius: 50%;
    box-shadow:
        0 0 0 3px $green,
        0 0 0 6px rgba(0, 0, 0, .2);
    height: 10px;
    width: 10px;
}
.marker-active {
    @extend .marker;
    box-shadow:
        0 0 0 3px $green,
        0 0 0 6px rgba(0, 0, 0, .6);

    animation: toggle-shadow .5s 3;
}

@keyframes toggle-shadow {
    0%, 40%, 80% {
        box-shadow:
            0 0 0 3px $green,
            0 0 0 6px rgba(0, 0, 0, .2);
    }
    20%, 60%, 100% {
        box-shadow:
            0 0 0 3px $green,
            0 0 0 6px rgba(0, 0, 0, .6);
    }
}