/* map */
#map {
    background-color: $gray-50;
    height: 100%;
    position: absolute;
    width: 100%;
}

.marker {
    background-color: $white;
    border-radius: 50%;
    box-shadow:
        0 0 0 3px $green,
        0 0 0 6px rgba(0, 0, 0, .2);
    height: 10px;
    width: 10px;
}
.marker-active {
    @extend .marker;

    animation: fade-in-out 3s;
}

@keyframes fade-in-out {
    0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
        opacity: 1;
    }
    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
        opacity: 0;
    }
}