/* map */
#map {
    background-color: $gray-50;
    height: 100%;
    position: absolute;
    width: 100%;
}

.marker {
    background-color: $white;
    border-radius: 50%;
    box-shadow:
        0 0 0 3px $gold,
        0 0 0 6px rgba(0, 0, 0, .6);
    height: 5px;
    width: 5px;
}
.marker-active {
    background-color: $white;
    @extend .marker;
    box-shadow:
        0 0 0 3px $green,
        0 0 0 6px rgba(0, 0, 0, .6);

    animation: toggle-shadow-new .75s 5;
}

@keyframes toggle-shadow {
    0%, 40%, 80% {
        box-shadow:
            0 0 0 3px $green,
            0 0 0 6px rgba(0, 0, 0, .2);
    }
    20%, 60%, 100% {
        box-shadow:
            0 0 0 3px $green,
            0 0 0 6px rgba(0, 0, 0, .6);
    }
}

@keyframes toggle-shadow-new {
    0% {
        box-shadow:
            0 0 0 0 $green,
            0 0 0 0 rgba(0, 0, 0, .2);
    }
    15% {
        box-shadow:
            0 0 0 1px $green,
            0 0 0 2px rgba(0, 0, 0, .6);
    }
    30% {
        box-shadow:
            0 0 0 2px $green,
            0 0 0 3px rgba(0, 0, 0, .6);
    }
    45% {
        box-shadow:
            0 0 0 3px $green,
            0 0 0 4px rgba(0, 0, 0, .6);
    }
    60% {
        box-shadow:
            0 0 0 3px $green,
            0 0 0 5px rgba(0, 0, 0, .6);
    }
    75%, 100% {
        box-shadow:
            0 0 0 3px $green,
            0 0 0 6px rgba(0, 0, 0, .6);
    }
}