{% include head.html %}
{% include header.html %}

<div class="wrapper">
    <div class="panel">
        <form class="group" id="geocode">
            <div class="input-wrapper">
                <input id="address" name="address" placeholder="Enter an address" type="text" />
                <input class="btn" type="submit" value="Get Lat/Long!" />
            </div>
        </form>
        <a href="#test">Want to do a batch?</a>
        <div id="data"></div>
    </div>
    <div id="map"></div>
</div>

{% include footer.html %}