{% include head.html %}
{% include header.html %}

<div class="wrapper">
    <div class="panel">
        <form class="group" id="geocode">
            <div class="input-wrapper">
                <input id="address" name="address" placeholder="Enter an address" type="text" />
                <input class="btn" type="submit" value="Get Lat/Long!" />
            </div>
            <label for="address">For multiple addresses separate them with a ;<br />
                E.g. Cumberland, MD; Washington, DC; Chambersburg, PA</label>
        </form>
        <a id="file-batch" href="#test">Want to use a file?</a>
        <div id="downloads">
            Download the <a href="#download-csv">CSV</a> or <a href="download-json">JSON</a>
        </div>
        <div id="data"></div>
        <div id="count"></div>
    </div>
    <div id="map"></div>
</div>
<div class="table-wrapper">
    <table id="table">
        <thead>
            <tr>
                <th width="20%">Query</th>
                <th width="10%">Lat</th>
                <th width="10%">Long</th>
                <th width="30%">Address</th>
                <th width="15%">Source</th>
                <th width="15%">Relevancy</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

{% include footer.html %}